* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #7cb9e8;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

section {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f78c30;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #d97725;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer {
    background-color: #7cb9e8;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
